# Android EasyGo KataGo config

rules = japanese
maxVisits = 20
maxTime = 3
numSearchThreads = 4 
minPlayoutsPerThread = 4
nnCacheSizePowerOfTwo = 18
nnMutexPoolSizePowerOfTwo = 14
nnRandomize = true

allowResignation = true
resignThreshold = -0.90
resignConsecTurns = 3

logAllGTPCommunication = true
logSearchInfo = true
logSearchInfoForChosenMove = true
logToStderr = false